---
import { Debug } from "astro:components";
import Layout from "../../layouts/Layout.astro";
import LinkFilm from "../../components/LinkFilm.astro";
export const prerender = false;

const listFilms = await Astro.locals.pb.collection("films").getFullList();
---

<Layout pageTitle="Liste des personnes">
  <ul>
    {
      listFilms.map((film) => (
        <li>
          <LinkFilm {...film} />
        </li>
      ))
    }
  </ul>
  <!-- <Debug {listFilms} /> -->
   <a href="/films/edit">Ajouter un film</a>
</Layout>
