---
import { Debug } from "astro:components";
import Layout from "../../layouts/Layout.astro";
import type {
  FilmsResponse,
  PersonnesResponse,
  RolesResponse,
} from "../../pocketbase-typegen";
import LinkFilm from "../../components/LinkFilm.astro";
import LinkPersonne from "../../components/LinkPersonne.astro";
export const prerender = false;
const id = Astro.params.id;
type PersonneExpand = PersonnesResponse<{
  films_via_producteur?: FilmsResponse[];
  films_via_scenaristes?: FilmsResponse[];
  roles_via_acteur?: RolesResponse<{ films_via_role: FilmsResponse[] }>[];
}>;
const personne = await Astro.locals.pb
  .collection<PersonneExpand>("personnes")
  .getOne(id!, {
    expand:
      "films_via_producteur, films_via_scenaristes, roles_via_acteur.films_via_role",
  })
  .catch((error) => {
    console.error("erreur à la recup de la personne", id, error);
    return {} as PersonneExpand;
  });
---

<Layout pageTitle="Liste des personnes">
  <div>
    <h2>Personne : {personne.nom}</h2>
    {
      Astro.locals.pb.authStore.isValid && (
        <a href={`/personnes/edit/${personne.id}`}>Edit</a>
      )
    }

    {
      personne.expand?.roles_via_acteur && (
        <p>
          Rôles joués : {""}
          {personne.expand?.roles_via_acteur?.map((f) => (
            <>
              <span>{f.nomRole + " joué dans : "}</span>
              {f.expand?.films_via_role && (
                <LinkFilm {...f.expand.films_via_role[0]} />
              )}
            </>
          ))}
        </p>
      )
    }

    {
      personne.expand?.films_via_producteur && (
        <p>
          Les films où il est producteur :{" "}
          {personne.expand?.films_via_producteur.map((f) => (
            <LinkFilm {...f} />
          ))}
        </p>
      )
    }
    {
      personne.expand?.films_via_scenaristes && (
        <p>
          Les films où il est scenariste :{" "}
          {personne.expand?.films_via_scenaristes.map((f) => (
            <LinkFilm {...f} />
          ))}
        </p>
      )
    }
  </div>
</Layout>
