---
import { Debug } from "astro:components";
import Layout from "../../layouts/Layout.astro";
import LinkPersonne from "../../components/LinkPersonne.astro";
export const prerender = false;

const listPersonnes = await Astro.locals.pb
  .collection("personnes")
  .getFullList();
---

<Layout pageTitle="Liste des personnes">
  
  <ul>
    {
      listPersonnes.map((personne) => (
        <li>
          <LinkPersonne {...personne} />
        </li>
      ))
    }
  </ul>
  <a href="../personnes/edit">Ajouter une personne</a>
  <!-- <Debug {listFilms} /> -->
</Layout>
