---
import '../styles/global.css';
interface Props {
	pageTitle: string;
}
const {pageTitle} = Astro.props;
---


<!doctype html>
<html lang="en" x-data="{menuOpen: false}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<button aria-controls="navigation" :aria-expanded="menuOpen" @click="menuOpen = !menuOpen">Menu</button>
	<nav :aria-hidden="!menuOpen" class="transform transition-transform " :class="{'translate-x-full' : !menuOpen}" id="navigation" >
		<a href="/" class="nav-link text-blue-500 hover:text-blue-700">Accueil</a>
		<a href="/personnes" class="nav-link text-blue-500 hover:text-blue-700">Liste des personnes</a>
		<a href="/authPassword" class="nav-link text-blue-500 hover:text-blue-700">Se connecter</a>
		<a href="/auth-github" class="nav-link text-blue-500 hover:text-blue-700">Se connecter avec Github</a>
		<a href="/films" class="nav-link text-blue-500 hover:text-blue-700">Liste des films</a>
	</nav>
	<body>
		<slot />
	</body>
</html>


